<% provide(:title, "Ask") %>
<h1>Ask A Question</h1>
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<%= render 'form', tags: @tags %>
<%= link_to 'Back', root_path %>